body {
	background: #000;
}

.square {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: white;
	width: 600px;
	height: 40px;
	overflow: hidden;
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

.square:hover {
	background-color: #d1d1d1; color: #fff;
}

#pixelgrid {
	margin: 30px auto;
	width: 960px;
}

a.button{
	padding: 5px 10px;
	background-color: #F0F0F0;
	margin-top: 30px;
	text-decoration: none;
	float: top;
	border-top: 1px solid #96d1f8;
	padding: 5px 10px;
	border-radius: 8px;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
  	text-shadow: rgba(0,0,0,.4) 0 1px 0;
  	color: #666;
  	font-size: 14px;
  	font-family: Georgia, serif;
  	text-decoration: none;
  	vertical-align: middle;

}